body {
    background-image: url(./Imagenes/Fondo2.jpg);
    background-color: #371a12;
    background-position: top;
    background-repeat: repeat-x;
}

@font-face {
    font-family: "Game of Thrones";
    src: url("Fonts/Game\ of\ Thrones.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: "Game of Thrones";
    color: rgba(0, 0, 0, 0.822);
    font-size: 75px;
    text-align: center;
    text-shadow: 5px 5px 30px #e6c58b;
}

.container_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    background-color: transparent;
    position: relative;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    border: solid 2px #e6c58b;
    margin: 20px;
}

.character {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.container:hover .character {
    transform: rotateY(180deg);
    box-shadow: 0 5px 10px #000;

}

.card_front,
.card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

.card_front {
    display: flex;
    flex-direction: column;
    color: white;
    background: rgb(0 0 0 / 81%);
    text-align: center;
    font-size: 10px;
    font-family: "Game of Thrones";
    letter-spacing: 2px
}

.card_back {
    background-color: rgb(0 0 0 / 81%);
    color: white;
    transform: rotateY(180deg);
    font-size: x-large;

}

.card_back h3 {
    margin-bottom: 30px;
    font-family: "Game of Thrones";
    font-size: small;
    letter-spacing: 2px;

}

p {
    line-height: 0.8;
}

img {
    width: 250px;
    height: 200px;
}


.container_menu {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.item_menu {
    flex: 20%;
    text-align: center;

}

@media (max-width: 1000px) {
    .item_menu {
        flex: 100%;
    }
}

@media (min-width: 1020px) and (max-width:1200px){
    .item_menu {
       flex: auto;
    }
}



.item_menu button, 
input,
select {
    width: 92%;
    text-align: center;
    font-size: 22px;
    background-color: #e6c58b;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-bottom: 30px;

}

.input_placeholder::placeholder {
    color: rgb(0, 0, 0);
    font-weight: bold
}

#div_mensaje {
    display: flex;
    margin: 20px;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 5px 10px #000;
}


table {
    margin: auto;
    width: 60%;
    border-spacing: 3px;
}

tr:hover td{
	background-color:  #edd9b6;;
	border-color: #edd9b6;
}


 th, td {
    width: 25%;
    text-align: left;
    border: 1px solid #000;
    padding: 0.3em;
    color: #000;
    background: #e6c58b;

 }

@media (max-width: 1600px) {
    table {
        font-size: 25px; 
    }
}

